body { 
    margin:0;
    padding:0;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    margin-left: auto;
    margin-right: auto;
    background: rgb(252, 251, 250);
}

a { 
    color:#1b1919;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content {
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px; 
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#680e0e;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/**************************/
/**************************/
/**************************/

nav {
    position: sticky;
    top: 0;
    font-size: 16px;
    background: rgb(255, 255, 255);
    height: 65px;
    width: 100%;
    padding-left: 20%;
    font-size: 16px;
    color:rgb(0, 0, 0);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    margin: auto;
}

.post-card {
    width: 100%;
}

/* comments */
.comments {
    display: flex;
    flex-direction: column;
    padding:10px;
}

.comment-list .comment-card:nth-child(even) {
    background: #d1d7da;
}

.comments .comment-info {
    font-weight:bold;
    font-size:12px;
    color:rgb(189, 165, 165);
}

