{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Blogs{% endblock %}

{% block content %}
<h1>Blogs</h1>
<div id="people-list">
    {% for blog in blogs %}
    <div class="user">
        <a href="{{ blog.get_absolute_url }}">
            <img src="{% thumbnail blog.image 140x140 crop %}">
            <!-- <img src="{{ blog.image|thumbnail_url:'avatar' }}" alt="" /> -->
        </a>
        <div class="info">
            <a href="{{ blog.get_absolute_url }}" class="title">
                {{ blog.title }}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}