{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Log-in</h1>
<p>Please, use the following form to log-in.</p>
<p>If you don't have account <a href="{% url 'register' %}" class="emphasis">register here</a></p>
{% if form.errors %}
<p>
  <hr>
  Your username and password didn't match.
  Please try again.
</p>
{% endif %}

<div class="login-form">
  <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
      <input type="hidden" name="next" value="{% url 'index' %}" />
    {% endif %}
    <p><input type="submit" value="Log-in"></p>
  </form>
</div>
{% endblock %}