/* Post form */

.post-form {
    display: flex;
    flex-direction: column;
}

#id_status {
    margin-bottom: 1rem;
    width: 7rem;
    font-family: inherit;
}

#id_tags {
    font-family: inherit;
}

/* Write story header */

.write-story__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.write-story__header input {
    width: 10rem;
    margin: 0 auto;
}

/* Write story body */

.story-sections {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.story-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0;
}

.story-subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin: 1rem 0;
}

.story-text {
    font-size: 1.19rem;
    font-weight: 400;
    word-spacing: 0.1rem;
}

.story-citation {
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    font-weight: 400;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-left: 0.2rem solid rgba(0, 0, 0, 0.5);
}

.section>h2 {
    font-size: 2rem;
}

.post-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea:not([name=title]) {
    line-height: 1.8;
}

.story-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.story-content__item {
    width: 100%;
}

.story-content__item--dragged-over {
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border: solid rgba(0, 0, 0, 0.4)
}

.form-story-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0rem 2rem 2rem;
    padding: 0;
    border: none;
    background-color: white;
    outline: none;
    overflow: visible;
    width: 100%;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4)
}

.form-story-subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin: 1rem 1rem 1rem 0rem;
    padding: 0;
    border: none;
    background-color: white;
    outline: none;
    width: 100%;
}

.form-story-text {
    font-size: 1.19rem;
    font-weight: 400;
    word-spacing: 0.1rem;
    margin: 1rem 1rem 1rem 0rem;
    padding: 0;
    border: none;
    outline: none;
    background-color: white;
    display: inline;
    width: 100%;
    overflow: hidden;
}

.form-story-citation {
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    font-weight: 400;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 1.5rem 0 1.5rem;
    border: none;
    border-left: 0.2rem solid rgba(0, 0, 0, 0.5);
    margin: 1rem 1rem 1rem 0rem;
    outline: none;
    background-color: white;
    display: inline;
    width: 100%;
    overflow: hidden;
}

.item__wrapper {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.item__wrapper.item__img-wrapper {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1fr 2rem;
}

input[type="button"].button-remove {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0;
    padding: 0;
}

img {
    width: 100%;
}

.item__wrapper.item__img-wrapper input[type="file"] {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    text-align: center;
    justify-self: start;
    margin: 0;
    padding: 0;
    border: none;
}

.img-wrapper {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.img-wrapper input[type="button"] {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.form__section {
    display: flex;
    flex-direction: row;
}

/* Add new section */

.content-types {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-types__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hide {
    display: none;
}