.post-card-manage {
    width: 350px;
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    margin: 1.5rem 1.5rem 1.5rem 0;
    overflow: hidden;
    line-height: 1;
    font-size: 1rem;
}

/* .post-card-manage a {
    font-size: 0.8rem;
}

.post-card-manage p {
    font-size: 0.5em;
} */

.post-card-manage__content {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* margin: 0.5rem; */
    padding: 0.5rem;
}

.post-card-manage__avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.post-card-manage__image {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.post-card-manage__title {
    font-weight: bold;
    margin-bottom: auto;
}

.post-detailed__published.bigger {
    font-size: 0.8rem;
}

.post-card-detailed__button {
    height: 20%;
    padding: 0.5rem;
    display: inline-block;
    text-align: center;
    background-color: rgb(222, 233, 212);
    color: rgb(118, 126, 111);
}

.post-card-detailed__button:hover {
    background-color: rgb(209, 219, 198);
}

.hidden {
    display: none;
}