.post-card {
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    margin: 1.5rem 1.5rem 1.5rem 0;
    overflow: hidden;
}

a {
    color: rgba(0, 0, 0, 1);
    height: 100%;
}

a:hover {
    color: rgb(158, 138, 48)
}

.info a {
    font-weight: 600;
}

.post-card__content {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 0.5rem;
}

.post-card__avatar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post-image {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.post-image img {
    /* width: 100%; */
    height: 100%;
}

.blog-image img, .author-image img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.blog-image img, .author-image img {
    width: 33px;
    height: 33px;
}

.post-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.post-tags {
    font-size: 0.7rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    justify-self: self-end;
    /* padding: 0.0rem 0rem 0rem 1rem; */
    /* margin-left: 0.3rem; */
}

.post-first-paragraph {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    text-align: left;
    /* margin-top: 0.5rem; */
    margin-bottom: auto;
    /* font-weight: lighter; */
}

.post-published {
    font-size: 0.7rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    justify-self: self-end;
    /* padding: 1rem;
        padding-top: 0.1rem; */
    /* margin-top: auto; */
    margin-left: 0.3rem;
}

.post-published.bigger {
    font-size: 0.8rem;
}

.info {
    font-size: 0.7rem;
    /* font-style: italic; */
    color: rgba(0, 0, 0, 0.9);
    text-align: left;
    justify-self: self-end;
    margin-left: 0.3rem;
}

.info.bigger {
    font-size: 1rem;
}

.post-card__button {
    /* width: 100%; */
    height: 20%;
    padding: 0.5rem;
    /* margin: 0.5rem; */
    display: inline-block;
    text-align: center;
    background-color: rgb(222, 233, 212);
    color: rgb(118, 126, 111);
}

.post-card__button:hover {
    background-color: rgb(209, 219, 198);
}