{% extends "posts_base.html" %}
{% load static %}

{% block title %}
Blog {{ blog.title }} by {{ blog.author }}
{% endblock %}

{% block content %}
<h1>Blog "{{ blog.title }}" by {{ blog.author }}</h1>
<section class="write-story">
  <form id="story-form" action="{% url 'posts:post_create' blog.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ subtitle_formset.management_form }}
    {{ text_formset.management_form }}
    {{ citation_formset.management_form }}
    {{ image_formset.management_form }}

    <hr>
    <div class="post-form">
      {{ post_form }}
    </div>
    <hr>

    <div class="write-story__header">
      <h2 class="header">Write your new story below and submit when ready</h2>
      <input id="submit-story" type="submit" value="Create story" class="create">
    </div>

    <div>
      <hr>
    </div>

    <div class="story-content">

      <div class="story-content__item">
        <div class="item__wrapper">
          {{ title_form.title }}
          {{ title_form.order }}
        </div>
      </div>
    </div>

    <div id="empty-subtitle-form" style="display:none">
      {{ subtitle_formset.empty_form.subtitle }}
      {{ subtitle_formset.empty_form.order }}
    </div>

    <div id="empty-text-form" style="display:none">
      {{ text_formset.empty_form.text }}
      {{ text_formset.empty_form.order }}
    </div>

    <div id="empty-citation-form" style="display:none">
      {{ citation_formset.empty_form.citation }}
      {{ citation_formset.empty_form.order }}
    </div>

    <div id="empty-image-form" style="display:none">
      {{ image_formset.empty_form.file }}
      {{ image_formset.empty_form.order }}
      <div class="img-wrapper">
        <img id="id_image-__prefix__-src">
      </div>
    </div>
  </form>

  <div>
    <hr>
  </div>

  <section class="content-types">
    <h3>Add new section:</h3>
    <div class="content-types__menu">
      <input type="button" value="Subtitle" id="add-subtitle" />
      <input type="button" value="Text" id="add-text" />
      <input type="button" value="Image" id="add-img" />
      <input type="button" value="Citation" id="add-citation" />
    </div>
  </section>

  <div>
    <hr>
  </div>
  
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/drag-and-drop.js' %}" defer></script>
{% endblock %}