{% load thumbnail %}
{% load custom_filters %}

{% for follower in followers %}
<div class="follower">
  <a href="{{ follower.profile.get_absolute_url }}">
    <div class="info">
      <img src="{% thumbnail follower.profile.photo 40x40 crop %}" class="info-image">
      <div class="info-text">
        <div class="info-first-row">{{ follower.profile.user.username.capitalize }}</div>
        <div class="info-second-row"> {% if not blog %} Followed {{ follower.blog.title }} {% endif %} {{ follower.created|time_passed }}</div>
      </div>
    </div>
  </a>
</div>
{% endfor %}