{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Blogs{% endblock %}

<!-- <img src="{{ blog.image|thumbnail_url:'avatar' }}" alt="" /> -->

{% block content %}
<h1> {{ author }} followers</h1>
<div id="people-list">
  {% for follower in followers %}
  <div class="user">
    <a href="{{ follower.profile.get_absolute_url }}">
      <img src="{% thumbnail follower.profile.photo 140x140 crop %}">

    </a>
    <a href="{{ follower.blog.get_absolute_url }}">
      <img src="{% thumbnail follower.blog.image 140x140 crop %}">

    </a>
    <div class="info">
      <a href="{{ follower.blog.get_absolute_url  }}" class="title">
        {{ follower.blog.title }} {{ follower.created }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}