{% extends "base.html" %}
{% load custom_filters %}
{% load thumbnail %}
{% load static %}

{% block css %}
<link href="{% static 'account/css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Followers{% endblock %}

{% block content %}

{% if blog %}
  <h1> {{ blog.title }} blog followers</h1>
{% else %}
  <h1> All your ({{ request.user.username }}) followers</h1>
{% endif %}

<div class="followers-list">
  <div class="buttons">
    <button class="new-button" disabled>New</button>
    <button class="old-button">Old</button>
  </div>

  <div class="new-followers">
    {% for follower in new_followers %}
      <div class="follower">
        <a href="{{ follower.profile.get_absolute_url }}">
          <div class="info">
            <img src="{% thumbnail follower.profile.photo 40x40 crop %}" class="info-image">
            <div class="info-text">
              <div class="info-first-row">{{ follower.profile.user.username.capitalize }}</div>
              <div class="info-second-row"> {% if not blog %} Followed  {{ follower.blog.title }} {% endif %} {{ follower.created|time_passed }}</div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="old-followers hidden">
    {% for follower in old_followers %}
      <div class="follower">
        <a href="{{ follower.profile.get_absolute_url }}">
          <div class="info">
            <img src="{% thumbnail follower.profile.photo 40x40 crop %}" class="info-image">
            <div class="info-text">
              <div class="info-first-row">{{ follower.profile.user.username.capitalize }}</div>
              <div class="info-second-row"> {% if not blog %} Followed {{ follower.blog.title }} {% endif %} {{ follower.created|time_passed }}</div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block javascript %}
<script type='application/javascript' defer>

  document.addEventListener('DOMContentLoaded', () => {

    const newBtn = document.querySelector('.new-button');
    const oldBtn = document.querySelector('.old-button');

    const newFollowers = document.querySelector('.new-followers');
    const oldFollowers = document.querySelector('.old-followers');

    function toggleFollowersHandler() {
      newFollowers.classList.toggle('hidden');
      newBtn.toggleAttribute('disabled');
      
      oldFollowers.classList.toggle('hidden');
      oldBtn.toggleAttribute('disabled');
    }

    newBtn.addEventListener('click', toggleFollowersHandler, false);
    oldBtn.addEventListener('click', toggleFollowersHandler, false);

    /* FETCH NEW FOLLOWERS */

    function getNewOrOldFollowers() {
      let newOrOld = oldFollowers.classList.contains('hidden') ? 'NEW' : 'OLD';
      return newOrOld;
    }

    let newPage = 2;
    let oldPage = 2;
    let blockRequest = false;
    let margin = 100;

    async function getNextFollowersHandler() {
      let fireFetch = (document.body.offsetHeight - window.innerHeight - window.pageYOffset - margin) <= 0;
      let url = `
                {% if blog %}
                  {% url 'blogs:blog_followers' blog.slug %} 
                {% else %}
                  {% url 'user_followers' %}
                {% endif %}
                `.trim();
      if (fireFetch && 
          blockRequest === false) {
            
            console.log('sending request');
            blockRequest = true;
            newOrOld = getNewOrOldFollowers();

            let response = await fetch(url + '?' + new URLSearchParams({
              page: newOrOld === 'NEW' ? newPage : oldPage,
              which: newOrOld

            }), {
              headers: {
                'X-Requested-With': 'XMLHttpRequest',
              }
            });

            let result = await response.text();

            if (result !== '') {
              let followersList;
              if (newOrOld === 'NEW') {
                newPage += 1;
                followersList = newFollowers;
              }
              else {
                oldPage += 1;
                followersList = oldFollowers;
              }
              followersList.innerHTML += (result);
            }

            blockRequest = false;
          }
    }

    window.addEventListener('scroll', getNextFollowersHandler, false);

  });
</script>
{% endblock %}