{% extends "posts_base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="story-sections">
    {% for section in post.sections.all %}
        {% render_section section %}
    {% endfor %}
</div>

<hr>
<div class="similar">
    <button class="find-similar-posts">Find similar posts</button>
</div>
<hr>

{% endblock %}

{% block javascript %}

{{ post.slug|json_script:"post-data" }}
<script type="text/javascript" defer>

    document.addEventListener("DOMContentLoaded", function () {
        const post = JSON.parse(document.getElementById('post-data').textContent);
        const similarDiv = document.querySelector('.similar');
        const findSimilarBtn = document.querySelector('.find-similar-posts');

        function processSimilarPosts(posts) {
             posts.forEach(postData => createPostCard(postData));
        }

        function createPostCard(postData) {
            postCardDiv = document.createElement('div');
            postCardDiv.innerHTML = displayPostCard(postData); 
            similarDiv.append(postCardDiv); 
        }

        function displayPostCard(postData) {
            postTemplate = 
            `
            <div class="post-card">
                <div class="post-card__avatar post-image">
                    <a href="">
                        <img src="data:image;base64,${postData.image}">
                    </a>
                </div>
                <div class="post-card__content">
                    <div class="post-title">
                        <a href="${postData.url}">${postData.title}</a>
                    </div>
                    <div class="post-card__avatar author-image">
                        <img src="data:image;base64,${postData.image}">
                        <div>
                            <div class="info">
                                By <a href="${postData.url}"> 
                                ${postData.author.username} </a>
                                on <a href="${postData.blog.url}">
                                ${postData.blog.title} </a>
                            </div>
                            <div class="post-published">${postData.publish}</div>
                        </div>
                    </div>
                    <div class="post-first-paragraph">
                        ${postData.text.slice(0, 200)}...
                    </div>
                    <div class="post-tags">
                        tags: ${postData.tags.length !== 0 ? postData.tags : 'post not tagged'}
                    </div>
                </div>
            </div>
            `
            return postTemplate;
        }

        function findSimilarPostsHandler() {
            console.log(post);
            fetch('http://localhost:8000/search/posts/similar?' + new URLSearchParams({
                slug: post,
                n: 6
            }))
            .then(res => res.json())
            .then(rawPosts => Promise.all(rawPosts.map(p => JSON.parse(p))))
            .then(posts => {
                if (posts.length > 0) {
                    similarDiv.innerHTML = `<h2>Similar posts (${posts.length})</h2>`;
                    processSimilarPosts(posts);
                }
                else {
                    similarDiv.innerHTML = '<p>No similar posts found :(</p>'
                }
            })
            .catch(err => console.error(err));
        }

        findSimilarBtn.addEventListener('click', findSimilarPostsHandler, false);

    });
    

</script>

{% endblock %}
