{% extends "posts_base.html" %}
{% load static %}

{% block css %}
<link href="{% static '/css/write-story.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Blog {{ blog.title }} by {{ blog.author }}
{% endblock %}

{% block content %}
<!-- <h1>Edit "{{ course.title }}"</h1> -->
<section class="write_story">
  <h1>Blog {{ blog.title }} by {{ blog.author }}</h1>
  <h2 class="header">Story sections</h2>
  <form class="form" action="{% url 'posts:post_create' blog.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ subtitle_formset.management_form }}
    {{ text_formset.management_form }}
    {{ citation_formset.management_form }}
    {{ image_formset.management_form }}

    <div id="story-content">

      <div class="story-content__item">
        <!-- <div class="input-label">
          <label>{{ title_form.title.label }}</label>
        </div> -->
        <div class="item__wrapper">
          <!-- {{ title_form.title }}
          {{ title_form.order.as_hidden }} -->
          {{ title_form }}
        </div>
        <!-- <div>
          <input type="button" id="title-button-remove" value="X">
        </div> -->
      </div>
    </div>

    <div id="empty-subtitle-form" style="display:none">
      {{ subtitle_formset.empty_form }}
    </div>

    <div id="empty-text-form" style="display:none">
      {{ text_formset.empty_form }}
    </div>

    <div id="empty-citation-form" style="display:none">
      {{ citation_formset.empty_form }}
    </div>

    <div id="empty-image-form" style="display:none">
      {{ image_formset.empty_form }}
      <div class="img-wrapper">
        <img id="id_image-__prefix__-src">
      </div>
    </div>

    <input id="submit-story" type="submit" value="Create story">
  </form>

  <section class="content-types">
    <h3>Add new section:</h3>
    <div class="content-types__menu">
      <!-- <input type="button" value="Title" id="add_title" disabled="true" /> -->
      <input type="button" value="Subtitle" id="add-subtitle" />
      <input type="button" value="Text" id="add-text" />
      <input type="button" value="Image" id="add-img" />
      <input type="button" value="Citation" id="add-citation" />
    </div>
  </section>

</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static '/js/drag-and-drop.js' %}" defer></script>
{% endblock %}