{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Publishing platform{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <script src="{% static 'js/menu-popup.js' %}" defer></script>
    {% block javascript %}{% endblock %}
</head>

<body>
    {% block header %}
    <header class="main-header">
        <div class="nav">
            <div class="logo-wrapper"><a href="{% url 'blogs:blog_list' %}"><img src="{% static '/img/logo.png' %}" alt="logo" /></a></div>
            {% if request.user.is_authenticated and request.user.profile.get_new_followers_count > 0 %}
            <a href="{% url 'user_followers' %}"><p>{{ request.user.profile.get_new_followers_count }} new follower{{ request.user.profile.get_new_followers_count|pluralize }}</p></a>
            {% endif %}
            <a href="{% url 'search:search_blogs_and_posts' %}" class="move-right"><p>Search</p></a>
            <a href="{% url 'blogs:blog_list' %}"><p>Blogs</p></a>
            <a href="{% url 'blogs:blog_list' %}"><p>Posts</p></a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}"><p>Dashboard</p></a>
            {% endif %}
            <div class="user">
                {% if request.user.is_authenticated %}
                <div class="hero-wrapper"><img id="hero" src="{{ request.user.profile.photo.url }}" alt="hero" /></div>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% endblock %}

    <main id="content">
        {% block content %}
        {% endblock %}
    </main>

    <div id="menu-popup" class="fade">
        <ul class="menu-list">
            <li>
                <div>
                    <a href="{{ request.user.profile.get_absolute_url }}">Your profile</a>
                </div>
            </li>
            <li>
                <div><a href="{% url 'blogs:manage_blogs' %}">Manage your blogs</a></div>
            </li>
            <li>
                <div><a href="{% url 'edit' %}">Manage your profile</a></div>
            </li>
            <li>
                <div><a href="{% url 'password_change' %}">Password change</a></div>
            </li>
            <li>
                <div><a href="{% url 'password_reset' %}">Password reset</a></div>
            </li>
            <li>
                <div><a href="{% url 'logout' %}">Sign out</a></div>
            </li>
        </ul>
    </div>
</body>

</html>