{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<h2>Welcome to my publishing platform</h2>
<section>
  <p>
    It's a place where you can find blogs and posts created by various people. <br>
    If you register you can also create your own blogs and publish on them.
  </p>
  <p>
    You can search blogs and posts by titles and/or tags. <br>
    You can also follow different blogs, and look them up on your dashboard.
    There you will find newest posts published by blogs you follow.
  </p>
  <p>
    There is whole panel dedicated to managing your blogs, posts and account.
    Main part consists of convinient way to write new posts. Each post consists of
    sections (title, subtitles, paragraphs, citations, images) which you can easly add,
    modify and also change their ordering by drop and down functionality.
    If you are logged-in, you can find it by clicking your icon on the left corner.
    Menu will show up.
  </p>
  <p>
    Under each post there is a button to search for similar posts to help you explore topics you are interested in.
  </p>
  <p>
    You can also view people who followed one of your blogs, and how long ago they did it.
    Additionaly info about new followers will be displayed on the top of the page to the left of the horse icon
  </p>
</section>
{% endblock %}