{% extends "blogs-base.html" %}
{% load static %}

{% block title %}All active blogs{% endblock %}

{% block css %}
<link href="{% static '/css/blogs.css' %}" rel="stylesheet">
<link href="{% static '/css/blog-card-detailed.css' %}" rel="stylesheet" defer>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/blog-card-detailed.js' %}" type="text/javascript" defer></script>
<script src="{% static 'js/fetch-detailed-blogs.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
<h1>All active blogs</h1>
<div class="blogs-list-detailed"></div>
{% endblock %}