{% extends "blogs-base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Your blogs{% endblock %}

{% block javascript %}
<script src="{% static 'js/get-cookie.js' %}" type="text/javascript" defer></script>
<script src="{% static 'js/delete-modal.js' %}" type="text/javascript" defer></script>
<script src="{% static 'js/delete-blog.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Your blogs</h1>

<section class="new-blog">
  <a href="{% url 'blogs:new_blog' %}">
    <button>
      NEW BLOG
    </button>
  </a>
</section>

<section class="section">
  <h2>Active blogs</h2>
  <div class="blog-list">
    {% if active_blogs %}
      {% for blog in active_blogs %}
        <div class="blog-card">
          <div class="blog-card__avatar">
            <a href="{{ blog.get_absolute_url }}">
              {% thumbnail blog.image 200x200 crop="smart" as im %}
              <img src="{{ im.url }}">
            </a>
          </div>
          <div class="blog-card__content">
            <div class="blog-title">
              <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
            </div>
            <div class="blog-subtitle">
              {{ blog.subtitle }}
            </div>
            <div class="panel">
              <div class="edit-delete">
                <a href="{% url 'posts:manage_posts' blog.slug %}" class="blog-card__button">
                  <button class="write-story-btn create">
                    Stories
                  </button>
                </a>
                <a href="{% url 'posts:create_post' blog.id %}" class="blog-card__button">
                  <button class="write-story-btn create">
                    New story
                  </button>
                </a>
              </div>
                <div class="edit-delete">
                  <a href="{% url 'blogs:edit_blog' blog.slug %}" class="blog-card__button">
                    <button class="edit-blog-btn edit">
                      Edit
                    </button>
                  </a>
                  <span class="blog-card__button">
                    <button data-id="{{ blog.id }}" data-title="{{ blog.title }}" class="delete-blog-btn delete">
                      Delete
                    </button>
                  </span>
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div>No active blogs yet :(</div>
    {% endif %}
  </div>
</section>

<section class="section last">
  <h2>Inactive blogs</h2>
  <div class="blog-list">
    {% if inactive_blogs %}
      {% for blog in inactive_blogs %}
        <div class="blog-card">
          <div class="blog-card__avatar">
            <a href="{{ blog.get_absolute_url }}">
              {% thumbnail blog.image 200x200 crop="smart" as im %}
              <img src="{{ im.url }}">
            </a>
          </div>
          <div class="blog-card__content">
            <div class="blog-title">
              <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
            </div>
            <div class="blog-subtitle">
              {{ blog.subtitle }}
            </div>
            <div class="panel">
              <div class="edit-delete">
                <a href="{% url 'posts:manage_posts' blog.slug %}" class="blog-card__button">
                  <button class="write-story-btn create">
                    Stories
                  </button>
                </a>
                <a href="{% url 'posts:create_post' blog.id %}" class="blog-card__button">
                  <button class="write-story-btn create">
                    New story
                  </button>
                </a>
              </div>
              <div class="edit-delete">
                <a href="{% url 'blogs:edit_blog' blog.slug %}" class="blog-card__button">
                  <button class="edit-blog-btn edit">
                    Edit
                  </button>
                </a>
                <span class="blog-card__button">
                  <button data-id="{{ blog.id }}" data-title="{{ blog.title }}" class="delete-blog-btn delete">
                    Delete
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div>No inactive blogs at the moment :)</div>
    {% endif %}
  </div>
</section>

<delete-modal 
  url="http://localhost:8000/blogs/delete/" 
  data-object="blog">
</delete-modal>

{% endblock %}