{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static '/css/write-story.css' %}" rel="stylesheet" defer>
<link href="{% static '/css/display-story.css' %}" rel="stylesheet" defer>
<link href="{% static '/css/post-card-detailed.css' %}" rel="stylesheet" defer>
{% endblock %}

{% block javascript %}
{{ post.slug|json_script:"post-data" }}
<script src="{% static 'js/post-card-detailed.js' %}" type="text/javascript" defer></script>
<script src="{% static 'js/find-similar-posts.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="story-sections">
    {% for section in post.sections.all %}
        {% render_section section %}
        {% if section.content_object.title %}
            <div class="post-card__avatar author-image bigger margin-bottom">
                <a href="{{ post.blog.author.get_absolute_url }}">
                    <img src="{{ post.blog.author.photo.url }}">
                </a>
                <div>
                    <div class="info bigger">
                        By <a href="{{ post.blog.author.get_absolute_url }}">
                            {{ post.blog.author.user.username }} </a>
                    </div>
                    <div class="post-published bigger">
                        {{ post.publish|date }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr>
<div class="similar">
    <button class="find-similar-posts">Find similar posts</button>
</div>
<hr>

{% endblock %}
