{% extends "posts-base.html" %}
{% load static %}

{% block title %}All published posts{% endblock %}

{% block css %}
<link href="{% static '/css/write-story.css' %}" rel="stylesheet" defer>
<link href="{% static '/css/display-story.css' %}" rel="stylesheet" defer>
<link href="{% static '/css/post-card-detailed.css' %}" rel="stylesheet" defer>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/post-card-detailed.js' %}" type="text/javascript" defer></script>
<script src="{% static 'js/fetch-detailed-posts.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
<h1>All published posts</h1>
<div class="posts-list similar"></div>
{% endblock %}