/* profile */

.profile {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 4rem 1.5rem 1fr;
}

.profile__user {
    grid-column-start: 1;
    grid-column-end: span 1;
}

.profile__joined {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.9rem;
    margin: 0;
}

.profile__img {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;
    justify-content: center;
    align-self: center;
    margin-left: 1rem;
}

.profile__img img {
    width: 100%;
}

.about {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

.about p a {
    text-decoration: underline;
}

.count {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    margin: 1rem;
    align-self: center;
    width: 50%;
    justify-self: center;
    text-align: center;
}

/* followers */

.hidden {
    display: none;
}

.followers-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.follower {
    width: 100%;
    padding: 10px;
    /* height: 300px;
    background-color: #134b2d; */
    margin: 10px;
    height: 50px;
}

/* .follower img {
    border-radius: 50%;
} */

/* .info {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 50px 1fr;
} */

.info-image {
    grid-column-start: 1;
    grid-column-end: span 1;
    margin: auto;
}

.info-text {
    grid-column-start: 2;
    grid-column-end: span 1;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: left;
    align-items: left;
}

.info-first-row {
    margin-top: auto;
    margin-bottom: auto;
}

.info-second-row {
    margin-top: auto;
    margin-bottom: auto;
}

.image-container {
    margin-top: 40px;
}

/* actions */

.action {
    clear: both;
    overflow: auto;
}

.action .images {
    float: left;
    margin: 0 10px 10px 0;
}

.action .date {
    font-style: italic;
    color: #ccc;
}